:root {
    --main_colour: #8E9AAF;
    --inverse_colour: #CBC0D3;
    --main_alt: #DEE2FF;
    --inverse_alt: #EFD3D7;
    --background_colour: #FEEAFA;
    /* Colour scheme - Trending Colours: 
  Website, squarespace-coolours - Idea provided by: Mike Thomas */
  }

  body {
    background-color: var(--background_colour);
  }