:root {
    --main_colour: #8E9AAF;
    --inverse_colour: #CBC0D3;
    --main_alt: #DEE2FF;
    --inverse_alt: #EFD3D7;
    --background_colour: #FEEAFA;

    /* Colour scheme - Trending Colours: 
  Website, squarespace-coolours - Idea provided by: Mike Thomas */
  }

  body {
    background-color: var(--background_colour);
  }
/*
  a {
    text-decoration: none !important;
  }
*/
  .navbar-custom {
    background-color: var(--main_colour);
    color: var(--inverse_colour);
  }

  #navbarSupportedContent li a{
    color: var(--inverse_colour);
    font-size: large; 
    font-weight: bold;
  }

  .navbarLogo {
    max-width: 8%;
    height: auto;
  }

  .navbar-brand h1 {
    font-size: xx-large;
  }

  .profilePhoto {
    padding-right: 30px;
    width: 12rem;
    height: auto;
  }


  .jumbotron {
    background-color: var(--inverse_colour);
    
  }

  .cardContainer {
    text-align: center;
  }

  .cardContainer .card {
    background-color: var(--background_colour);
    border: var(--background_colour);
  }

  .card-img-top {
    display: block;
    width: 100%;
    height: 15vw;
    object-fit: cover;
  }

  .btn {
    background-color: var(--inverse_alt);
    border: var(--inverse_colour);
  }

  .btn:hover {
    background-color: var(--inverse_colour);
    border: var(--inverse_alt);
  }

  .cardContainer a{
    color: var(--main_colour);
  }